<html lang="en">
<body>
<div>
    <table class="table" role="presentation">
        <tbody>
        <tr>
            <td><p>Demande de contact</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table class="table" role="presentation">
        <tr>
            <td>Email</td>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>{{ contact.message|nl2br }}</td>
        </tr>
    </table>
</div>
</body>
</html>
